* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #0583d2;
  --secondary: white;
}

/* HEADER START */

header {
  position: relative;
  z-index: 1;
}
.topnav {
  overflow: hidden;
  background-color: var(--primary);
  padding: 10px;
  position: fixed;
  width: 100%;
}

.topnav .logo {
  display: inline;
  font-size: 32px;
  color: var(--secondary);
  font-family: inherit;
  /* border: 1px solid; */
}
.logo img {
  width: 50px;
  display: inline;
}
.sidebar {
  position: fixed;
  margin-top: 5px;
  background-color: whitesmoke;
  height: 100vh;
  width: 40%;
  top: -10px;
  right: -1000px;
  transition: 1.7s;
}
.sidebar.open {
  right: 0px;
}
.sidebar .close-btn {
  opacity: 0;
  position: fixed;
  font-size: 25px;
  top: 2px;
  right: 7px;
  transition: 1.5s;
}

.sidebar .close-btn a {
  border: none;
}

.sidebarOpen-btn {
  float: right;
}
.sidebarOpen-btn a {
  color: var(--secondary);
  font-size: 25px;
  margin-right: 10px;
}

.sidebar .menu {
  position: relative;
  margin-top: 10%;
  margin-left: 5%;
}
.sidebar .links a {
  /* color: var(--secondary); */
  text-decoration: none;
  font-size: 17px;
  padding: 20px 16px;
  display: block;
  border-bottom: 1px solid;
}
/* HEADER END */

/* HERO SECTION START */
.main-hero {
  display: flex;
  height: 800px;
  gap: 20px;
  justify-content: space-between;
  padding: 10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(52, 78, 97, 0.9));
}
.main-hero h1 {
  color: var(--secondary);
  font-size: 52px;
  border-bottom: 1px solid;
}
.main-hero p {
  color: var(--secondary);
  font-size: 25px;
}
.main-hero img {
  width: 500px;
}
.main-hero .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.card {
  border: 1px solid var(--primary);
}
.card h3 {
  font-size: 29px;
  border-bottom: 1px solid var(--primary);
}
.card p {
  font-size: 19px;
  line-height: 1.2;
}

.card img {
  width: 100%;
  height: 280px;
}
/* HERO END */
